<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>About site </h1>
      <p>This site, make collect all emails address.</p>
      <p>Food truck chia godard, iPhone messenger bag subway tile kitsch. Semiotics bicycle rights coloring book,aesthetic swag snackwave tofu skateboard.</p>
       <p>Shabby chic salvia aesthetic distillery. Cornhole next level woke lo-fi, glossier vexillologist gastropub crucifix man braid iceland cardigan. Dreamcatcher franzen fap, sustainable single-origin coffee kinfolk hashtag tilde flexitarian etsy hammock vegan. Activated charcoal tumeric celiac leggings. Locavore banjo hella, authentic la croix portland humblebrag.</p>
    </div>
    <div class="col-md-6">
      <img src="/assets/email.jpg" width="550" height="316" style="border-radius: 25px;"  >
    </div>
  </div>
</div>